head(lang="ru-RU")
   meta(charset='UTF-8')
   title bg-more
   meta(name='format-detection', content='telephone=no')
   meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
   meta(name='HandheldFriendly', content='True')
   link(rel='stylesheet', href='../assets/css/main.css')
   link(rel="stylesheet", href="https://bst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css")
   link(href="favicon.ico" rel="shortcut icon")


