script(src='../assets/js/libs/jquery-2.1.4.min.js')
script(src='../assets/js/libs/social-likes.min.js')
script(src='../assets/js/libs/owl.carousel.min.js')
script(src='../assets/js/libs/jquery.magnific-popup.min.js')
script(src='../assets/js/libs/slideout.min.js')
script(src='../assets/js/libs/validate.min.js')
script(src='../assets/js/main.js')
script(async, src="https://www.gismeteo.ru/api/informer/getinformer/?hash=Pw52BoG8vP43oi")

