#laravel
/node_modules
Homestead.yaml
_ide_helper.php
#assets
/themes/bgtaxi/content/static-pages
/themes/bgtaxi/meta/
doc/
#october
/bootstrap/compiled.php
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
selenium.php
composer.lock

# for netbeans
nbproject

#config
/.env
/public/redisadmin
/public/beanstalkd

#common
psd/
.vagrant/
/bootstrap.sh
/Vagrantfile

#site
pdf/
_backup/
cgi-bin/

*.log
*.bin
*.komodoproject
/.komodotools/

# PhpStorm
.idea

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

# SublimeText
/*.sublime-project
*.sublime-workspace

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Windows system files
$RECYCLE.BIN/
Thumbs.db
ehthumbs.db
Desktop.ini

# OSX system files
.DS_store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# SVN/CV
S
.svn
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore
.gitignore~

# temporary files/folders

tmp*
~*
*.~*
*.bak
*.swp

build/
png/
psd/
doc/
svg/
vendors/
pixel_perfect/
node_modules/
docs/
.idea/
pixelPerfect/
prod/
quick-start.txt
error_log

