.about
   i.about__pic
   h2.about__ttl Why book taxi transfers with us?
   ul.about__list
      li.about__list-item Monitored flights
      li.about__list-item 24h contact help line
      li.about__list-item Paid parking fee
      li.about__list-item
         |English & russian
         br
         |speaking drivers
      li.about__list-item Safe driving & door to door transfers
      li.about__list-item Clean and comfortable vehicles
      li.about__list-item Free baby seat / child booster
      li.about__list-item No extra charge for flight delays