.articles
   .articles__inner
      a(href="#").articles__item
         .articles__pic-wrap
            .articles__pic(style="background-image:url('../assets/img/temp/article-1.jpg')")
         .articles__descr
            h5.articles__ttl Water parks Bulgaria
            .articles__text Certainly not! We decided that it will be useful to collect a summary of the Bulgarian water parks
      a(href="#").articles__item
         .articles__pic-wrap
            .articles__pic(style="background-image:url('../assets/img/temp/article-1.jpg')")
         .articles__descr
            h5.articles__ttl Water parks Bulgaria
            .articles__text Certainly not! We decided that it will be useful to collect a summary of the Bulgarian water parks
   .articles__bottom
      a.articles__link(href="#")
         span.articles__link__text Other articles
