.benefits
   h1.benefits__ttl We will help you to travel around Bulgaria
   p You thought the water parks in Bulgaria only at the major resorts such as Golden Sands and Sunny Beach? Certainly not! We decided that it will be useful to collect a summary of the Bulgarian water parks in one useful article. You just have to choose which is right for you!
   p Certainly not! We decided that it will be useful to collect a summary of the Bulgarian water parks in one useful article. You just have to choose which is right for you!
   a.benefits__link(href="#") Airport transfer
   a.benefits__link(href="#") Excursions
   a.benefits__link(href="#") Car hire
   a.benefits__link(href="#") Insurance