.category
   a(href="#").category__item
      .category__item__pic
         .category__item__img(style="background-image: url('../assets/img/airport-transfer.png')")
      h5.category__item__ttl Airport transfers
      .category__item__slogan You drove fast, tasty and safe
   a(href="#").category__item._discount
      .category__discount Excursion to the mountains -20%
      .category__item__pic
         .category__item__img(style="background-image: url('../assets/img/excursions.png')")
      h5.category__item__ttl Excursions
      .category__item__slogan You drove fast, tasty and safe
   a(href="#").category__item
      .category__item__pic
         .category__item__img(style="background-image: url('../assets/img/car.png')")
      h5.category__item__ttl Car hire
      .category__item__slogan You drove fast, tasty and safe
   .category__item._info
      .category__email
         .category__email__pic
            svg.category__email__svg(xmlns='http://www.w3.org/2000/svg', width='26', height='20', viewbox='0 0 26 20')
               path(d='M25.395.613c-.37-.382-.892-.623-1.462-.623H2.067c-.57 0-1.09.24-1.462.623-.372.38-.607.916-.607 1.5v15.773c0 .585.235 1.12.607 1.5.37.382.892.623 1.462.623h21.866c.57 0 1.09-.242 1.462-.624.372-.38.607-.916.607-1.5V2.114c0-.585-.235-1.12-.607-1.5zM24 15.995l-6.793-6.188L24 2.997v12.998zm-22-14h22c.08 0 .083-.47.14-.413.007.005-.145.407-.14.414L14.415 10.8c-.303.288-.728.444-1.16.444-.416 0-.824-.144-1.124-.414L2 1.996c.004-.004.185.44 0 0 .06-.058-.08 0 0 0zm0 14v-13l7.202 6.812L2 15.995zm0 2l8.098-7.382 1.253 1.126c.54.483 1.227.714 1.904.714.703 0 1.413-.248 1.96-.764l1.12-1.058 7.61 7.187c-.004 0 .06.177.055.177H2z')
         a(href="#").category__email__link info@bg-taxi.com
      .category__phone
         .category__phone__pic
            svg.category__phone__svg(xmlns='http://www.w3.org/2000/svg', width='19', height='27', viewbox='0 0 19 27')
               path(d='M15.04-.946H3.96C1.774-.946.002.814.002 2.984V23.07C.002 25.24 1.774 27 3.96 27h11.08c2.186 0 3.958-1.76 3.958-3.93V2.984c0-2.17-1.772-3.93-3.958-3.93zm2.55 24.015c0 1.398-1.142 2.532-2.55 2.532H3.96c-1.408 0-2.55-1.134-2.55-2.533V2.984c0-1.4 1.142-2.533 2.55-2.533h11.08c1.408 0 2.55 1.134 2.55 2.533V23.07zM13.78 2.546H5.22c-.94 0-1.7.756-1.7 1.688v14.787c0 .933.76 1.69 1.7 1.69h8.56c.94 0 1.7-.757 1.7-1.69V4.236c0-.933-.76-1.69-1.7-1.69zm.293 16.476c0 .16-.132.29-.293.29H5.22c-.162 0-.293-.13-.293-.29V4.236c0-.16.132-.29.293-.29h8.56c.16 0 .293.13.293.29v14.787zm-4.345 2.845c-.646 0-1.17.52-1.17 1.16 0 .642.524 1.162 1.17 1.162.646 0 1.17-.52 1.17-1.16 0-.642-.524-1.162-1.17-1.162z')
         .category__phone__text +359 (878) 445-312
         .category__phone__text +359 (877) 359-326
      a(href="#").category__info-btn OR WRITE to US
