.content
	.travel
		.travel__head
			.travel__media(style="background-image: url('../assets/img/temp/pic-1.jpg')")
				//img.travel__img(src="../assets/img/temp/pic-1.jpg", alt="bulgaria-pic")
				.travel__media__ttl
					span.travel__media__ttl-text We will help you to travel around Bulgaria
			.travel__descr
				h1.travel__ttl We will help you to travel around Bulgaria
				time.travel__time 06:00 Monday, Friday
				.travel__price
					b 100 BGN
					|    (50 BGN for kinds 2–12 years)
				a.travel__gallery.gallery__link(href="../assets/img/temp/gallery-1.jpg") Gallery

		.travel__schedule
			h3.travel__schedule-title First Day:
			p
				b 06:00 a.m.
				| 	Departure from Sunny Beach.
			p
				b 12:30 p.m.
				|   Arrival in Istanbul. Lunch.
			p
				b 14:30 p.m.
				|   Sightseeing tour in the heart of 'Old city' the Blue Mosque, famous with its blue iznik tiles and unique with 6 minarets, built in the name of Sultan Ahmet; The Hippodrome, centre of sportive/chariot races, athletics/events and political activities of the old city; The Obelisk of Theodosius; The Serpentine Column and the German Fontain of Wilchelm Second. You can see outside the Topkapi Palace and St.Sophia. Beneath the Bosphorus Bridge, unique chance to step from one continent to another in 2 minutes, we reach the Asian part of the town.
			p
				b 20:45 p.m.
				|	Extra Tour: Visit the night local. Dinner at a first class restaurant with a half bottle of wine or soft drink included. Floor-show of famous belly dancers. Typical Anatolian folklore groups, featuring popular musical instruments and turkish singers Extra tour 30 euros
		.travel__schedule
			h3.travel__schedule-title Second Day:
			p
				b 07:30 a.m.
				|    Breakfast.
			p
				b 12:30 p.m.
				|   Extra Tour: Bosphorus trip. Half day morning with a luxury boat. It's a cruise through the water-way, separating the two continents, Asia and Europe, with a possibility to take photographs of marble palaces, ancient wooden villas of Ottoman architecture besides modern residentials and luxurious apartments. Visit the Egyptian Bazar. Mystical smells of different aromas of various spices. Shops selling fruits, vegetables, flowers, fish etc. Extra tour 25 euros. Free time for shopping.
			p
				b 15:00 p.m.
				|   Departure to Bulgaria

	h2 Record-Breaking H2
	p Usually customs clearance can be carried out either directly to the owner of the goods or customs broker - organization conducting declaration and clearance on the basis of the contract and their foreign partners, and allow customers to focus on core objectives. expansion of the dealer network, increase sales, improve service quality, etc.
	h3 Record-Breaking H3
	p Usually customs clearance can be carried out either directly to the owner of the goods or customs broker - organization conducting declaration and clearance on the basis of the contract and their foreign partners, and allow customers to focus on core objectives. expansion of the dealer network, increase sales, improve service quality, etc.
	h4 Record-Breaking H4
	p Usually customs clearance can be carried out either directly to the owner of the goods or customs broker - organization conducting declaration and clearance on the basis of the contract and their foreign partners, and allow customers to focus on core objectives. expansion of the dealer network, increase sales, improve service quality, etc.
	h5 Record-Breaking H5
	p Usually customs clearance can be carried out either directly to the owner of the goods or customs broker - organization conducting declaration and clearance on the basis of the contract and their foreign partners, and allow customers to focus on core objectives. expansion of the dealer network, increase sales, improve service quality, etc.
	blockquote.quote
		.quote__text
			b NB:
			|	Visa and optional tours are not included. Double room occupancy. Additional single room: 40 leva
	h6 Includes:  H6
	ul
		li RAPMED Association of Manufacturers and sellers of medical equipment
			ul
				li 	NAIR National Association of Toy
				li 	NAIR National Association of Toy
				li 	RATEK Manufacturers Association and electronics retailers
		li LCCI Leningrad Chamber of Commerce
		li LCCI Leningrad Chamber of Commerce
		li International association of professionals in the field of logistics services
	h6 Includes:  H6
	ol
		li RAPMED Association of Manufacturers and sellers of medical equipment
			ol
				li    NAIR National Association of Toy
				li    NAIR National Association of Toy
				li    RATEK Manufacturers Association and electronics retailers
		li LCCI Leningrad Chamber of Commerce
		li LCCI Leningrad Chamber of Commerce
		li International association of professionals in the field of logistics services
	button.btn.primary Поделиться
	button.btn.second Поделиться
	button.btn.warning Поделиться

	.social-links
		h6.social-links__ttl Share with:
		.social-likes
			.facebook(title='Поделиться ссылкой на Фейсбуке') Facebook
			.twitter(title='Поделиться ссылкой в Твиттере') Twitter
			.mailru(title='Поделиться ссылкой в Моём мире') Мой мир
			.vkontakte(title='Поделиться ссылкой во Вконтакте') Вконтакте
			.odnoklassniki(title='Поделиться ссылкой в Одноклассниках') Одноклассники
			.plusone(title='Поделиться ссылкой в Гугл-плюсе') Google+