.excursions
	.excursions__item
		a(href="#").excursions__pic
			.excursions__img(style="background-image: url('../assets/img/temp/excursion-1.jpg')")
			.excursions__overlay
		.excursions__ttl Water parks Bulgaria
		.excursions__schedule
			time.excursions__schedule__item    06:00 Monday, Friday
			time.excursions__schedule__item    23:00 Monday, Wednesday
		.excursions__bottom
			.excursions__price
				.excursions__price__adult 100 BGN
				.excursions__price__children 50 BGN (children)
			a(href="#").excursions__more Read more
	.excursions__item
		a(href="#").excursions__pic
			.excursions__img(style="background-image: url('../assets/img/temp/excursion-1.jpg')")
			.excursions__overlay
		.excursions__ttl Water parks Bulgaria
		.excursions__schedule
			time.excursions__schedule__item    06:00 Monday, Friday
			time.excursions__schedule__item    23:00 Monday, Wednesday
		.excursions__bottom
			.excursions__price
				.excursions__price__adult 100 BGN
				.excursions__price__children 50 BGN (children)
			a(href="#").excursions__more Read more
	.excursions__item
		a(href="#").excursions__pic
			.excursions__img(style="background-image: url('../assets/img/temp/excursion-1.jpg')")
			.excursions__overlay
		.excursions__ttl Water parks Bulgaria (three long days)
		.excursions__schedule
			time.excursions__schedule__item    06:00 Monday, Friday
			time.excursions__schedule__item    23:00 Monday, Wednesday
		.excursions__bottom
			.excursions__price
				.excursions__price__adult 100 BGN
				.excursions__price__children 50 BGN (children)
			a(href="#").excursions__more Read more
	.excursions__item
		a(href="#").excursions__pic
			.excursions__img(style="background-image: url('../assets/img/temp/excursion-1.jpg')")
			.excursions__overlay
		.excursions__ttl Water parks Bulgaria
		.excursions__schedule
			time.excursions__schedule__item    06:00 Monday, Friday
			time.excursions__schedule__item    23:00 Monday, Wednesday
		.excursions__bottom
			.excursions__price
				.excursions__price__adult 100 BGN
				.excursions__price__children 50 BGN (children)
			a(href="#").excursions__more Read more
	.excursions__item
		a(href="#").excursions__pic
			.excursions__img(style="background-image: url('../assets/img/temp/excursion-1.jpg')")
			.excursions__overlay
		.excursions__ttl Water parks Bulgaria
		.excursions__schedule
			time.excursions__schedule__item    06:00 Monday, Friday
			time.excursions__schedule__item    23:00 Monday, Wednesday
		.excursions__bottom
			.excursions__price
				.excursions__price__adult 100 BGN
				.excursions__price__children 50 BGN (children)
			a(href="#").excursions__more Read more
	.excursions__item
		a(href="#").excursions__pic
			.excursions__img(style="background-image: url('../assets/img/temp/excursion-1.jpg')")
			.excursions__overlay
		.excursions__ttl Water parks Bulgaria
		.excursions__schedule
			time.excursions__schedule__item    06:00 Monday, Friday
			time.excursions__schedule__item    23:00 Monday, Wednesday
		.excursions__bottom
			.excursions__price
				.excursions__price__adult 100 BGN
				.excursions__price__children 50 BGN (children)
			a(href="#").excursions__more Read more


