footer.footer
   .social
      a(href="#").social__item.instagram
         .social__instagram-img(style="background-image: url('../assets/img/instagram.png')")
      a(href="#").social__item.facebook
         .social__instagram-img(style="background-image: url('../assets/img/fb.png')")
   .footer__inner.inner-wrap
      .footer__items
         .weather
            #gsInformerID-Pw52BoG8vP43oi.gsInformer
               .gsIContent
                  #cityLink
                     a(href='http://www.gismeteo.com/city/daily/3436/', target='_blank') Weather in Burgas
                     br
                     a(href='http://www.gismeteo.com/city/daily/3421/', target='_blank') Weather in Varna
                     br
                     a(href='http://www.gismeteo.com/city/daily/3437/', target='_blank') Weather in Sunny Beach
                     br
                     a(href='http://www.gismeteo.com/city/daily/15240/', target='_blank') Weather in Sozopol
                  .gsLinks
                     table
                        tr
                           td
                              .leftCol
                                 a(href='http://www.gismeteo.com/', target='_blank')
                                    img(alt='Gismeteo', title='Gismeteo', src='https://bst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png', align='middle', border='0')
                                    span Gismeteo
                              .rightCol
                                 a(href='http://www.gismeteo.com/', target='_blank') 2-week forecast
         .find
            i.find__ico
            .find__inner
               p Find a lower price for airport transfer, car hire or excursion from a reputable company and we will match the price!
         .contacts
            .contacts__row
               a.contacts__link(href="#") info@bg-taxi.com
               span.contacts__tel +359 878 445 312 (EN)
            .contacts__row
               a.contacts__link(href="#") http://vk.com/bgmore
               span.contacts__tel +359 877 359 326 (RU)
            .search
               form.search__form
                  input.search__inp(placeholder='Search')
                  button.search__btn
                     svg.search__ico(xmlns='http://www.w3.org/2000/svg', preserveaspectratio='xMidYMid', width='19', height='19', viewBox="0 0 26 26")
                        path(d='M25.766 25.766c-.303.303-.794.303-1.097 0l-5.827-5.826c-2 1.745-4.607 2.81-7.468 2.81C5.092 22.75 0 17.655 0 11.373 0 5.092 5.092 0 11.375 0 17.657 0 22.75 5.09 22.75 11.373c0 2.862-1.065 5.47-2.81 7.468l5.826 5.826c.303.303.303.795 0 1.098zM11.376 1.624c-5.386 0-9.75 4.365-9.75 9.75s4.364 9.75 9.75 9.75c2.49 0 4.758-.943 6.482-2.482-.003-.202.07-.405.225-.56.154-.154.357-.228.56-.225 1.538-1.724 2.482-3.99 2.482-6.483 0-5.385-4.366-9.75-9.75-9.75z')
      .footer__bottom
         .copy
            p &copy; 2016
               a.copy__link(href="http://bg-more.com") bg-more.com

