header.head
   .head__inner
      a(href="index.html").head__logo
         img.head__logo-pic(src="../assets/img/logo.jpg", alt="bg-more")
      .head__nav-btn ☰
      nav.head__nav
         ul.head__nav-list
            li.head__nav-item
               a.head__nav-link(href="#") Home
            li.head__nav-item.drop-item._active
               a.head__nav-link(href="#") Airport transfer
               ul.head__nav-drop
                  li.head__nav-drop__item
                     a(href="#").head__nav-drop__link Airport one
                  li.head__nav-drop__item
                     a(href="#").head__nav-drop__link Airport two
                  li.head__nav-drop__item
                     a(href="#").head__nav-drop__link Airport three
                  li.head__nav-drop__item
                     a(href="#").head__nav-drop__link Airport four
            li.head__nav-item
               a.head__nav-link(href="#") Excursions
            li.head__nav-item
               a.head__nav-link(href="#") Car hire
            li.head__nav-item._active
               span.head__nav-link Insurance
            li.head__nav-item
               a.head__nav-link(href="#") Contact us


