div.mobile-nav
   ul.mobile-nav__list
      li.mobile-nav__item
         a.mobile-nav__link(href="#") Home
      li.mobile-nav__item.drop-item
         span.mobile-nav__link Airport transfer
         ul.mobile-nav-drop
            li.mobile-nav-drop__item
               a(href="#").mobile-nav-drop__link Airport one
            li.mobile-nav-drop__item._active
               a(href="#").mobile-nav-drop__link Airport two
            li.mobile-nav-drop__item
               a(href="#").mobile-nav-drop__link Airport three
            li.mobile-nav-drop__item
               a(href="#").mobile-nav-drop__link Airport four
      li.mobile-nav__item
         a.mobile-nav__link(href="#") Excursions
      li.mobile-nav__item
         a.mobile-nav__link(href="#") Car hire
      li.mobile-nav__item._active
         span.mobile-nav__link Insurance
      li.mobile-nav__item
         a.mobile-nav__link(href="#") Contact us