.white-popup.mfp-hide(id="popup")
	h3 Car rental in Bulgaria
	p Prestige AutoRent is a car rental company, founded in 2013 in Burgas, Bulgaria. Our team consists of people who love cars and trips; professionals whose concern is that you can travel safely, comfortably and without engaging with car insurance and buying vignettes. Although young, our company is already quite well known in the market. The customer feedback is really good.
	p Where to pick up hire car from?
		|You can rent a car from Prestige AutoRent anywhere you like in Bulgaria. However, our clients usually hire a car from Sofia, Burgas, and Varna. Very ofte  n we provide cars for our Bulgarian mountain and seaside resorts (Sunny Beach, Nessebar, Sozopol, Ravda, Pomorie, Bansko, Pamporovo, etc.). We also offer an optional extra service - car rental from Prestige AutoRent with pick-up and drop-off location Istanbul, Turkey.
		|With our cars you can travel safely inside and outside Bulgaria - within the EU.
	p What type of car you can rent from us?
