.pricing
	h3.pricing__ttl Pricing
	.pricing__table-wrap
		table
			thead
				tr
					th
					th 1-2
					th 3-4
					th 5-7
			tbody
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
				tr
					td Sunny beach
					td 50 lv / 26 €
					td 55 lv / 28 €
					td 80 lv / 41 €
				tr
					td St Vlas
					td 60 lv
					td 60 lv
					td 80 lv
				tr
					td Elenite
					td 65
					td 65
					td 85
	.pricing__show-more
		span.pricing__show-more__text Show more
	.pricing__note
		p If your destination is not listed, send us an e-mail and we will give you a fixed rate!

