.sidebar
	.gallery
		a(href="../assets/img/temp/gallery-1.jpg", style="background-image: url('../assets/img/temp/gallery-1.jpg')").gallery__link
		a(href="../assets/img/temp/gallery-1.jpg", style="background-image: url('../assets/img/temp/gallery-1.jpg')").gallery__link
		a(href="../assets/img/temp/gallery-1.jpg", style="background-image: url('../assets/img/temp/gallery-1.jpg')").gallery__link
		a(href="../assets/img/temp/pic-1.jpg", style="background-image: url('../assets/img/temp/pic-1.jpg')").gallery__link
	.fixed-info
		a(href="contact.html").btn.book Book now
		.page-navigation
			a(href="#").page-navigation__prev Prev
			a(href="#").page-navigation__next Next


