.slider
   h2.slider__ttl Welcome to Bulgaria
   .slider__inner.owl-carousel
      .slider__pic.item(style="background-image: url('../assets/img/temp/slide-1.jpg')")
      .slider__pic.item(style="background-image: url('../assets/img/temp/slide-2.jpg')")