[viewBag]
==
<script src="{{[
        'assets/js/libs/jquery-2.1.4.min.js',
        'assets/js/libs/social-likes.min.js',
        'assets/js/libs/owl.carousel.min.js',
        'assets/js/libs/jquery.magnific-popup.min.js',
        'assets/js/libs/slideout.min.js',
        'assets/js/libs/validate.min.js',
        'assets/js/libs/social-likes.min.js',
        'assets/js/main.js',
    ]|theme}}">
</script>
<script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=Pw52BoG8vP43oi"></script>
{% framework %}
{% scripts %}