doctype html
html
    include template/jade/head.jade
    body
        include template/head.jade
        main.main
            .main__inner.inner-wrap
                .main__inner__head
                    h1 Car hire
                    p CEO Text. We are happy to meet you and arrange your taxi from Bourgas airport. We can guarantee best possible price for airport transfers to  Sunny beach, St Vlas or Sozopol. All our given prices are in Bulgarian levs for one way journey.
                .content-wrap
                    .content
                        include template/car.jade
                    .sidebar
                        .fixed-info
                            a(href="contact.html").btn.book Book now
                            h5.fixed-info__ttl Full flight details required:
                            ul.fixed-info__list
                                li Leading name
                                li Flight numbers
                                li Arrival / departure date and time
                                li Party size (Adults and children)
                                li Destination and hotel
                                li Mobile phone number for contact
                include template/footer.jade
        include template/mobile-menu
        include template/fixed-info-mobile
        include template/mobile-book
        include template/popup.jade
        include template/jade/scripts.jade