doctype html
html
    include template/jade/head.jade
    body
        include template/head.jade
        main.main
            .main__inner.inner-wrap
                .main__inner__head
                    h1 OUR Contacts
                include template/contact.jade
            include template/footer.jade
        include template/mobile-menu
        include template/jade/scripts.jade