doctype html
html
    include template/jade/head.jade
    body
        include template/head.jade
        main.main
            .main__inner.inner-wrap
                .main__inner__head
                    h1 Excursions
                    p CEO Text. We are happy to meet you and arrange your taxi from Bourgas airport. We can guarantee best possible price for airport transfers to  Sunny beach, St Vlas or Sozopol. All our given prices are in Bulgarian levs for one way journey.
                include template/exursions.jade
            include template/footer.jade
        include template/mobile-menu
        include template/jade/scripts.jade